body{
    background-color: rgba(46, 43, 43, 0.945);
    max-width: 70%;
    margin: auto;
}

h1{
    color:rgb(245, 11, 11);
    font-family: 'Varela Round', sans-serif; 
    text-align: center
}

h2{
     color:rgb(255, 255, 255);
     font-family: 'Varela Round', sans-serif; 
     text-align: center;
     font-size: 15;
     
h3{
    color:rgb(221, 61, 61);
    font-family: 'Varela Round', sans-serif;
}

p{color:rgb(255, 255, 255);
font-family: 'Varela Round', sans-serif;
}

.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;;
  gap: 30px 30px;
  margin-top: 30px;
  border-style: none;
  border-color: white;
  padding: 30px;
  border-radius: 25px;
}

.chart{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  transition: padding 500ms, border-radius 500ms;
}

.icon-bar {
  width: 100%; 
  background-color: #E5E0E0; 
  overflow: auto; 
}

.icon-bar a {
  float: left; 
  text-align: center; 
  width: 100%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: black; 
  font-size: 13px; 
}

.icon-bar a:hover {
  background-color: #bcb5b5; 
}

.active {
   background-color: #81787900; 
}
