
/* This is my first proper css file */

body{
    background-color: rgba(0, 0, 0, 0.158);
    max-width: 500px;
    margin: auto;
}

h1{
    color:rgb(245, 11, 11);
    font-family: 'Varela Round', sans-serif;  
}



h3{
    color:rgb(221, 61, 61);
    font-family: 'Varela Round', sans-serif;
}

p{color:rgb(255, 255, 255);
font-family: 'Varela Round', sans-serif;
}

.chart{
    width: 300px;
    border-width: 15px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;
}

